@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz&display=swap');

.centeralign{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.styling{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #F4A442;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
  justify-content: center;


}
.picturealign{
  display: block;
  margin: 0 auto;
  background-color: #F4A442;
  border-radius: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
}

.websitecolorscheme{
  background-color: #125C13;
  color: #E8E1D9;
}
.headerbackground{
  background-color: white;
  border-radius: 25%;
  border-color: black;
  padding-top: 15px;
  padding-bottom: 15px
}
.articlebackground{
  display: flex;
  background-color: #3E7C17;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25px;
  padding-bottom: 10px;
}

.generalpadding{
  padding-left: 25px;
}

.border{
  border-style: double;
  border-color: black;
  border-width: 15px;
  border-color: black;
}

.navalign{

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding-left: 25px;
   padding-right: 25px;
   background-color: #F4A442;
   margin-right: 15px;
   margin-left: 15px;
   margin-bottom: 10px;
   border-radius: 25px;
   font-family: 'Yanone Kaffeesatz', sans-serif;

}
 /*
   */
/*
float: left;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
width: 25%;  Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc..
text-align: center; If you want the text to be centered
background-color: #F4A442;
border-radius: 25px;
*/

.footerstyle{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25px;
  background-color: #F4A442;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  border-radius: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.page2articlebackground{
  display: grid;
  background-color: #3E7C17;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-left: 25px;
  padding-bottom: 10px;
}

.navaligngrid{
  padding-left: 20px;
}

.page3articlebackground{
  display: grid;
  background-color: #3E7C17;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-bottom: 10px;
}

.topnav{
  background-color: #3E7C17;
  overflow: hidden;
}

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  margin-left: 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #F4A442;
  color: black;
}

.topnav a.split {
  float: right;
  color: white;
}
