@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
h1 {
  color: red;
}

.blue-text {
   color: blue
}
.large-blue-text{
  color: blue;
  font-size: 20px;
}

p{
  font-family: 'Anton';
  font-size: 20px;
}


.green-border{
  border-color: green;
  border-width: 10px;
  border-style: solid;
  border-radius: 25%
}

.background-color{
  background-color: lightblue
}

#Hello-World {
  display: flex;
  color: black;
  border-top-color: darkblue;
  border-bottom-color: red;
  border-left-color: green;
  border-right-color: black;
  background-color: white;
  border-top-style: solid;
  border-bottom-style: dashed;
  border-left-style: dotted;
  border-right-style:double;
}

.paddingtest {
  padding: 40px 40px 30px 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  background-color: blue;
}

.paddingtest2 {
  background-color: crimson;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 15px;
  text-align: center;
  color: black;
}
